## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Import the Relevant Libraries 
import pandas as pd 
import numpy as np
import seaborn as sns 
import sqlite3
import matplotlib.pyplot as plt 
import zipfile

In [2]:
# Reviewing existing datasets 
bom_movies= pd.read_csv('zippedData/bom.movie_gross.csv.gz')
print(bom_movies.head())

                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010

In [3]:
# Opening the database and reviewing the Existing Tables 
with zipfile. ZipFile('zippedData/im.db.zip', 'r') as zip_ref:
    zip_ref.extractall('.')
conn = sqlite3.connect("im.db")
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers