## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Import the Relevant Libraries 
import pandas as pd 
import numpy as np
import seaborn as sns 
import sqlite3
import matplotlib.pyplot as plt 
import zipfile

In [2]:
# Reviewing existing datasets 
bom_movies= pd.read_csv('zippedData/bom.movie_gross.csv.gz',index_col=0)
bom_movies.head()

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
# Opening the database and reviewing the Existing Tables 
with zipfile. ZipFile('zippedData/im.db.zip', 'r') as zip_ref:
    zip_ref.extractall('.')
conn = sqlite3.connect("im.db")
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [4]:
bom_movies.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

In [5]:
bom_movies.isna().sum()

studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [6]:
def convert_usd(df,column):
    df[column] = pd.to_numeric(df[column].replace('[\$,]', '', regex=True), errors='coerce')
    df[column] = df[column].apply(lambda x: "${:,.0f}".format(x) if pd.notnull(x) else x)
    return df

In [7]:
bom_movies= convert_usd(bom_movies,'domestic_gross')
bom_movies= convert_usd(bom_movies,'foreign_gross')
bom_movies

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,"$415,000,000","$652,000,000",2010
Alice in Wonderland (2010),BV,"$334,200,000","$691,300,000",2010
Harry Potter and the Deathly Hallows Part 1,WB,"$296,000,000","$664,300,000",2010
Inception,WB,"$292,600,000","$535,700,000",2010
Shrek Forever After,P/DW,"$238,700,000","$513,900,000",2010
...,...,...,...,...
The Quake,Magn.,"$6,200",NaN,2018
Edward II (2018 re-release),FM,"$4,800",NaN,2018
El Pacto,Sony,"$2,500",NaN,2018
The Swan,Synergetic,"$2,400",NaN,2018
An Actor Prepares,Grav.,"$1,700",NaN,2018

### Hello

### Updated